<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Jarl</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
	<h1>Welcome to Burger Jarl</h1>
	<section>
	  <h3>Select your burger of choice!</h3>
	  <h4>Bacon & Cheese Burger</h4>
	  <img src="https://d1doqjmisr497k.cloudfront.net//-/media/franksus18/recipe-images/franks_redhot_bacon_cheeseburger_300x300.jpg">
	  <p>Burger info</p>
	</section>
	<section>
	  <h3>Delivery information</h3>
	  <p>Please provide the necessary delivery information</p>
	</section>
      </main>
      <footer>
      </footer>
    </body>
</html>
        
