@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    font-family: "Franklin Gothic Medium Condensed";
    color: black;
    font-size: 110%;
}

.allergies {
    color: red;
    font-weight: bold;
}

#burgerSection{
    background: black;
    color: white;
    border: 2px dashed white;
}

#deliverySection{
    border: 2px dashed black;
}

.burgerName {
    font-weight: bold;
}

#body {
    margin: 0 auto;
}

button {
    margin: 20px 10px 20px 10px;
}

button:hover {
    background: green;
    color: black;
}


#burgerTable {

    margin-left: 5.5%;
    width: 100%
}

section {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px;
}

#header {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px;
    height: 250px;
    overflow: hidden;
}

#headerImg {
    opacity: 0.55;
    width: 100%;
    height: auto;
}

#headerHeading {
    position: absolute;
}
  
